[submodule "Web Projects/React-Text-Adventure"]
	path = Web Projects/React-Text-Adventure
	url = git@gitlab.com:Acepie/React-Text-Adventure.git
[submodule "Java Projects/Music-Editor"]
	path = Java Projects/Music-Editor
	url = git@github.com:Acepie/Music-Editor.git
[submodule "Racket Projects/Tanks"]
	path = Racket Projects/Tanks
	url = git@github.com:agrundw/HH2.git
	branch = classes
[submodule "Web Projects/React-Text-Adventure-Node-Editor"]
	path = Web Projects/React-Text-Adventure-Node-Editor
	url = git@gitlab.com:Acepie/React-Text-Adventure-Node-Editor.git
[submodule "Unity Projects/PigeonVR"]
	path = Unity Projects/PigeonVR
	url = git@github.com:SteveKrueger52/PigeonVR.git
[submodule "Unity Projects/DungeonCrawler"]
	path = Unity Projects/DungeonCrawler
	url = git@github.com:Acepie/Team-DAA-DungeonCrawler.git
